.html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

span.text-blue {
  color: #387EFF;
}

button:focus {
  outline: 0;
}

.navbar .container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  width: 100%;
}

.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center;
  background-color: transparent;
}

.navbar>.container .navbar-brand-centered, .navbar>.container-fluid .navbar-brand-centered {
  margin-left: -80px;
}

.navbar {
  border-bottom: 0;
}

.navbar-default .navbar-nav>li:not(.active)>a:not(.unresponsive):hover {
  background-color: #0E0E0E;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #3873FF;
  color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: #1C65EB;
}

.nav.navbar-nav.navbar-right>li>.unresponsive:hover {
  color: #777777;
  cursor: default;
}

div.light-blue-background {
  background-color: #C5E7FF;
}
